defaults:
  - use_case: health   # Dynamically specify the active use case
  - _self_

_recursive_: true

# Paths (dynamically resolve from lending.yaml)
data_path: ${use_case.data_path}
result_path: ${use_case.result_path}

# Dynamically access components within lending.yaml
criteria: ${use_case.criteria}  
models: ${use_case.models}
actors: ${use_case.actors}
actions_outcomes: ${use_case.actions_outcomes}
augmentation_for_rewards: ${use_case.augmentation_for_rewards}
context: ${use_case.context}
case_specific_metrics: ${use_case.case_specific_metrics}
ranking_weights: ${use_case.criteria.ranking_weights}
reward_calculator: ${use_case.reward_calculator}
standard_metrics: ${use_case.standard_metrics}
fairness_metrics: ${use_case.fairness_metrics}

categorical_columns: 
  - Action
  - Outcome

cv_splits: 2
test_size: 0.2
sample_size: 1000


decision_criteria: 
  - Maximin
  - Nash Social Welfare
  - Kalai-Smorodinsky
  - Nash Bargaining
  - Compromise Programming
  - Proportional Fairness





